<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478885302787-46tgclrpaf3vqnti7g95ud418uvjla9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478885302787-46tgclrpaf3vqnti7g95ud418uvjla9b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>478885302787-32qfubm0damgpkn5tm0tt655s09e3sfq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNIPDDGTmviX0itRrEStBEpBJnvX2Ul6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>478885302787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talkam.app</string>
	<key>PROJECT_ID</key>
	<string>talkam-temp</string>
	<key>STORAGE_BUCKET</key>
	<string>talkam-temp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478885302787:ios:2bfbec65eef022ab807436</string>
</dict>
</plist>