<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478885302787-ok0upi23o86662habvpf6tsf06u1gpog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478885302787-ok0upi23o86662habvpf6tsf06u1gpog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>478885302787-2p5kropebl3t1sp6vdfokom4kkphod4h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNIPDDGTmviX0itRrEStBEpBJnvX2Ul6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>478885302787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talkamtech.app</string>
	<key>PROJECT_ID</key>
	<string>talkam-temp</string>
	<key>STORAGE_BUCKET</key>
	<string>talkam-temp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478885302787:ios:074c846c87398546807436</string>
</dict>
</plist>