<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TalKAM Tech</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TalKAM Tech</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tiktokopensdk</string>
		<string>tiktoksharesdk</string>
		<string>snssdk1180</string>
		<string>snssdk1233</string>
		<string>com.googleusercontent.apps.478885302787-46tgclrpaf3vqnti7g95ud418uvjla9b</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>TikTokClientKey</key>
	<string>sbawv08gbmy7ntisfh</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sbawv08gbmy7ntisfh</string>
				<string>com.googleusercontent.apps.478885302787-46tgclrpaf3vqnti7g95ud418uvjla9b</string>
				<string>fb3700490343547694</string>
			</array>
		</dict>
	</array>
	<key>GoogleSignIn</key>
	<dict>
		<key>ClientId</key>
		<string>478885302787-46tgclrpaf3vqnti7g95ud418uvjla9b.apps.googleusercontent.com</string>
		<key>ReversedClientId</key>
		<string>com.googleusercontent.apps.478885302787-46tgclrpaf3vqnti7g95ud418uvjla9b</string>
		<key>APIKey</key>
		<string>AIzaSyDNIPDDGTmviX0itRrEStBEpBJnvX2Ul6Y</string>
	</dict>
	<key>FacebookAppID</key>
	<string>3700490343547694</string>
	<key>FacebookClientToken</key>
	<string>f055a6e3d63e1adf42c82192a01e1fbb</string>
	<key>FacebookDisplayName</key>
	<string>TalKAM Tech</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Talkam uses your photo library to upload picture contents.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Talkam uses your location to display nearby posts.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Talkam uses your location to display nearby posts.</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
